[req]
distinguished_name = dn
x509_extensions = v3_ca
prompt = no

[dn]
CN = My Test CA

[v3_ca]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = CA:TRUE
keyUsage = keyCertSign, cRLSign
